spring:
  application:
    name: HouserOfDolswe-server

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  kakao:
    auth:
      client: ${CLIENT_ID}
      redirect: ${REDIRECT_URI}
      accessTokenURL: https://kauth.kakao.com/oauth/token
      userInfoURL: https://kapi.kakao.com/v2/user/me
#  jwt:
#    secret-key: ${JWT_SECRET_KEY}
